@{
  Layout = "_Layout";
}
<img class="left"src= '~/img/420.gif'/>
<img class="left"src= '~/img/boom.gif'/>
<img class="right"src= '~/img/dead.gif'/>
<img class="left"src= '~/img/fish.gif'/>
<p><a href='/'><img class="center"src= '~/img/return.gif'/></a></p>