@{
  Layout = "_Layout";
}
<img class="center"src= '~/img/420.gif'/>
<h1>Your order has been destroyed!</h1>
<!-- <p><a href="/orders">Back to orders.</a></p> -->
<p><a href='/'><img class="center"src= '~/img/return.gif'/></a></p>