<h1>Add a new order to @Model.Name</h1>

<form action="/vendors/@Model.Id/orders" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  <label for="orderTitle">Order Title</label>
  <input id="orderTitle" name="orderTitle" type="text">
  <label for="orderDescription">Order Description</label>
  <input id="orderDescription" name="orderDescription" type="text">
  <label for="orderPrice">Order Price</label>
  <input id="orderPrice" name="orderPrice" type="text">
  <label for="orderDate">Order Date</label>
  <input id="orderDate" name="orderDate" type="text">
  <button type='submit'>Add Order!</button>
</form>

<p><a href='/'>Return to Main Page</a></p>