@{
  Layout = "_Layout";
}

<img class="center"src= '~/img/420.gif'/>
<h1>Vendor Order Details: </h1>
<h2>Vendor: @Model["vendor"].Name</h2>
<h2>Order Title: @Model["order"].Title</h2>
<h2>Order Description: @Model["order"].Description</h2>
<h2>Price: $@Model["order"].Price</h2>
<h2>Date: @Model["order"].Date</h2>



<a href='/vendors/@Model["vendor"].Id/orders/new'><img class="center"src= '~/img/addanotherorder.gif'/></a>
<br>
<form action="/orders/delete" method="post">
  <button type="submit" name="button"><img src= '~/img/destroy.gif'/></button>
</form>
<!-- <h3><a href='/orders/delete'><img class="left"src= '~/img/destroy.gif'/></a></h3> -->
<h3><a href='/vendors'><img class="right"src= '~/img/viewvendors.gif'/></a></h3>
<p><a href='/'><img class="center"src= '~/img/return.gif'/></a></p>


