@{
  Layout = "_Layout";
}
<img class="center"src= '~/img/haru.gif'/>
<img class="center"src= '~/img/welcome.gif'/>
<h3><a href='/vendors/new'><img class="left"src= '~/img/addnewvendor.gif'/></a></h3>
<h3><a href='/vendors'><img class="right"src= '~/img/viewvendors.gif'/></a></h3>


