@{
  Layout = "_Layout";
}

@using VendorAndOrder.Models;


<img class="center"src= '~/img/vendors.gif'/>
<!-- <h1>Please select a vendor to add + view + delete an order</h1> -->

@if (@Model.Count == 0)
{
  <p><a href='/'><img class="center"src= '~/img/dead.gif'/></a></p>
  <h1> YOU FORGOT TO DO SOMETHING </h1>
} 
 <h1>Please select a vendor to add + view + delete an order</h1>
@foreach (Vendor vendor in Model)
{
 
  <h1><a href='/vendors/@vendor.Id'>@vendor.Name</a></h1>
}

<p><a href='/'><img class="center"src= '~/img/return.gif'/></a></p>