@using VendorAndOrder.Models;

<h1>Vendors</h1>
<h3>Please select a vendor to add an order</h3>

@if (@Model.Count == 0)
{
  <h3>Oh dear! No vendors have been added yet!</h3>
} 

@foreach (Vendor vendor in Model)
{
  <h3><a href='/vendors/@vendor.Id'>@vendor.Name</a></h3>
}

<p><a href='/'>Back to home page</a></p>