<h1>Add a Vendor</h1>
<p>Add a Vendor here:</p>

<form action="/vendors" method="post">
  <label for="vendorName">Vendor name</label>
  <input id="vendorName" name="vendorName" type="text">
  <label for="vendorDescription">Vendor description</label>
  <input id="vendorDescription" name="vendorDescription" type="text">
  <button type="submit">Add</button>
</form>


<p><a href="/vendors">Back to Vendors.</a></p>
<p><a href='/'>Return to Main Page</a></p>