@{
  Layout = "_Layout";
}
<img class="center"src= '~/img/haru.gif'/>
<img class="center"src= '~/img/addavendor.gif'/>

<form action="/vendors" method="post">
  <label for="vendorName">Vendor name</label>
  <input id="vendorName" name="vendorName" type="text">
  <label for="vendorDescription">Vendor description</label>
  <input id="vendorDescription" name="vendorDescription" type="text">
  <br>
  <button class="btn-center" type="submit">💀</button>
</form>

<p><a href='/'><img class="left"src= '~/img/return.gif'/></a></p>
<p><a href="/vendors"><img class="left"src= '~/img/backtovendors.gif'/></a></p>
